/* global */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial;
}
p {
  line-height: 2;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: cuspace-around;
  align-items: center;
}

/* utilities */
.btn {
  display: block;
  width: 150px;
  background-color: rgb(143, 71, 30);
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
  padding: 20px;
  justify-items: left;
}
.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.main-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* header */
.sit-init {
  background-image: url(./img/banner.jpg);
  background-size: cover;
  background-color: grey;
  height: 400px;
  text-align: center;
  color: white;
}
.header-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
/* main */
main {
  width: 60%;
  margin-right: 20px;
}
/* blogs */
.blog-container {
  margin-top: 20px;
}

.blog-container p {
  margin-top: 20px;
}

.blog-container h3 {
  margin-top: 20px;
}
.blog-container .btn {
  background-color: black;
  width: 75%;
  margin: 300px;
}
/* Contact */
.form-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.form-inputs {
  background-color: white;
  padding: 20px;
  margin-top: -50px;
}
.form-inputs .btn {
  background-color: black;
  padding: 10px;
  font-size: 14px;
  width: 100px;
}
.form-inputs div {
  margin: 20px;
}
.form-inputs input,
.form-inputs textarea {
  width: 70%;
  padding: 5px;
}
.form-inputs lable {
  display: inline-block;
  width: 80px;
}
/* Courses */
.main-container {
  margin: auto;
  width: 80%;
  background-color: rgb(210, 229, 250);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.course {
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: solid;
}
.course img {
  height: 50%;
  width: 50%;
  margin: 30px;
}
/* hidinng text */
.hid {
  display: none;
  padding: 20px;
}
/* expanding and showing text */
.main-container :hover {
  width: 50%;
  height: 50%;
}
.main-container :hover + .hid {
  display: flex;
}
